<!-- envs.net ring fragment-->
<div id="newring">
    <div style="text-align: center;">
        [<a href="https://envs.net/ring/?action=prev&me={{ .Site.Params.webring.username }}">previous</a>]
        [<a href="https://envs.net/ring/?action=random&me={{ .Site.Params.webring.username }}">random</a>]
        [<a href="https://envs.net/ring/?action=next&me={{ .Site.Params.webring.username }}">next</a>]
        <br>
        powered by <a href="https://envs.net/ring/"> envs webring</a>
    </div>
</div>
<!-- roboring -->
<div style="text-align: center;margin-top: 1rem">
    <a href="https://stellophiliac.github.io/roboring/{{ .Site.Params.webring.username }}/previous"> <- </a>
    <a href="https://stellophiliac.github.io/roboring"><img id="robot"> roboring</a>
    <a href="https://stellophiliac.github.io/roboring/{{ .Site.Params.webring.username }}/next"> -> </a>
</div>